.join-container {
    height: 500px;
}


.join-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
}

.join-formbox {
    margin-top: 10px;
}

.join-textbox {
    margin: 30px 0;
}

.join-submitbtn {
    display: block;
    width: 50%;
    margin: 15px auto;
    
}

.join-input {
    display: inline-block;
    min-width: 70%;
}

.join-form-caption {
    margin: 0;
    margin-right: 5%;
    font-weight: 600;
}
