.articlewrite-container {
    width: 90%;
    min-height: 700px;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fff;

    padding: 50px;
    padding-top: 10px;

    border: 1px silver solid;
}

.articlewrite-pagetitle {
    text-align: center;
}

.articlewrite-editor-container {
    padding: 20px;
}

.articleinfo-input {
    margin: 0 20px;
    display: inline-block;
    width: 250px;
}

.group-selection-caption {
    display: inline-block;
    
}

.group-selection-checkbox {
    margin-bottom: 5px;
}

.group-caption {
    margin: 0 5px;
}

.fileupload-title {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.fileupload-dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    margin: 10px auto;
    height: 150px;
    border: 2px silver dotted;
}

.dropzone-element {
    display: block;
}

.fileupload-uploaded {
    padding: 5px 10%;
}

.uploaded-files {
    display: flex;
    align-items: center;
    
    height: 30px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border: 1px silver solid;

    padding-left: 10px;
    margin-bottom: 10px;
}

.attached-icon {
    margin-right: 5px;
}